$background: #2c3531;
$text: #d1e8e2;
$text-placeholder: #116466;
$task-complete: #116466;
$trash: #d9b08c;
$top: #116466;
$side: cyan;
$icon: cyan;
$date: #d9b08c;

//------------------------------------
// ____ for global (mobile & pc) ____
//------------------------------------

p,
h1,
h2,
h3 {
  color: $text;
}
.fa-edit,
.fa-save {
  color: $icon;
}
.fa-trash {
  color: $trash;
}
.dead-line {
  color: $date;
}
.addtodo-folder-icon {
  .fa-folder-open {
    color: $icon;
    font-size: 40px;
  }
}
.addtodo-calendar-icon {
  .fa-calendar {
    color: $icon;
    font-size: 40px;
  }
}
.folders-folder-icon {
  .fa-folder-open {
    color: $icon;
    font-size: 40px;
  }
}
.show-folder-icon {
  .fa-folder-open {
    font-size: 40px;
  }
}
.show-calendar-icon {
  .fa-calendar {
    font-size: 40px;
  }
}
.edit-folder-icon {
  .fa-folder-open {
    font-size: 40px;
    color: $icon;
  }
}
.edit-calendar-icon {
  .fa-calendar {
    font-size: 40px;
    color: $icon;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $background;
  color: $text;
}
::placeholder {
  color: $text-placeholder;
}
::-ms-input-placeholder {
  color: $text-placeholder;
}
:-ms-input-placeholder {
  color: $text-placeholder;
}
.error-text {
  color: red;
}

// remove styling from list items
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
// top header styling
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $top;
  z-index: 2;
  h1 {
    margin-top: -5px;
  }
}
// button for toggling the left sidebar
.burger-btn {
  position: fixed;
  top: 5px;
  left: 15px;
  z-index: 4;
  .fa-bars {
    font-size: 45px;
  }
}

//left sidebar
.left-sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  transition: 0.4s;
  overflow-x: hidden;
  background-color: rgba($side, 0.1);
  z-index: 3;
  .navbar {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 10px;
    .navlink {
      padding-top: 20px;
      font-size: 35px;
    }
    .fa-home,
    .fa-folder-open,
    .fa-cog {
      font-size: 40px;
      margin-bottom: -5px;
    }
  }
}

// folder dropdown

.dropdown-menu-container {
  position: relative;
  z-index: 3;
}
.menu {
  background: #a5a5a5;
  position: absolute;
  //---------------------------------------------------------------
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
.menu.active {
  opacity: 1;
  visibility: visible;
  //-------------------------------------------------------
  background-color: #333333;
  transform: translateY(0);
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  //----------------------------------------------------------
  border-bottom: 1px solid #dddddd;
  text-decoration: none;
  //-----------------------------------------------------------
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.folder-list-item {
  color: $text;
}
.folder-title-and-icon {
  display: flex;
  flex-direction: row;
  .fa-plus-square {
    font-size: 30px;
    margin-top: -2px;
    color: $icon;
  }
}

.folders-title-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .fa-trash {
    font-size: 30px;
    margin-top: -2px;
    color: $icon;
  }
  button {
    background: none;
    outline: none;
    color: $icon;
  }
}
.content {
  position: relative;
  z-index: 1;
  button {
    background: none;
    outline: none;
    color: $icon;
  }
}
// underlining for navlink elements to indicate selected navlink
.active {
  text-decoration-line: underline;
}

.add-btn {
  z-index: 4;
}
.add-todo {
  .add-btn {
    z-index: 1;
  }
}

input[type="text"],
textarea {
  color: $text;
  border-color: $text;
  background-color: $background;
}
.folders {
  button {
    background: none;
    outline: none;
    color: $text;
  }
}
button {
  border-color: $text-placeholder;
}
hr {
  border: 1px inset black;
  opacity: 0.2;
}

.search-button {
  input {
    border-radius: 5px;
    border: 2px solid;
    padding: 5px;
  }
}

//------------------------------------
// ____ for mobile screen only ____
//------------------------------------

@media only screen and (max-width: 900px) {
  // blurs the .content when sidebar is open on mobile screen-size
  .blur {
    filter: blur(8px) opacity(65%) brightness(70%);
  }

  .add-btn {
    position: fixed;
    top: 5px;
    right: 15px;
    .fa-plus-square {
      font-size: 45px;
    }
  }
  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    .add-todo {
      .fa-check-circle {
        color: $icon;
        position: fixed;
        font-size: 100px;
        right: 10px;
        top: 70px;
      }
    }
    .settings {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
    }

    .show-container,
    .edit-container {
      margin-top: -50px;
      .fa-trash,
      .fa-edit,
      .fa-save {
        font-size: 50px;
      }
      .icons {
        display: flex;
        .fa-edit,
        .fa-save {
          margin-left: 70%;
          color: $icon;
        }
      }
    }
    .sort-and-search {
      display: flex;
      flex-direction: row;
      margin-left: 5px;
      .sort {
        display: flex;
        flex-direction: row;
        z-index: 1;
        p {
          margin-top: 6px;
        }
        div {
          padding: 0px 3px 0px 3px;
        }
        .arrow {
          margin-top: 6px;
        }

        /* Dropdown Button */
        .dropbtn {
          background-color: $background;
          border-color: $text;
          color: $text;
          padding: 5px;
          font-size: 16px;
          border-radius: 5px;
          min-width: 120px;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;
        }
        .dropdown {
          margin-top: -5px;
        }
        .arrow {
          margin-top: 2px;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          /* Links inside the dropdown */
          button {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border: none;
            width: 100%;
          }
          /* Change color of dropdown links on hover */
          button:hover {
            background-color: #ddd;
          }
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
          background-color: grey;
          color: black;
        }
      }
      .search-bar {
        margin-left: 10px;
        margin-top: -4px;
        padding-bottom: 20px;
        input {
          width: 120px;
        }
      }
    }
    // display all todos in a column
    .todos {
      display: flex;
      flex-direction: column;
      //individual todo-info displayed in a row

      .title-done {
        color: $task-complete;
      }
      .todo-item {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        padding-top: 10px;
        justify-content: flex-start;
        //title and date
        .clickable-area {
          flex-grow: 2;
          .task {
            color: $text;
          }
          .task-done {
            color: $task-complete;
            text-decoration: line-through;
          }
        }

        .check-box {
          color: $icon;
          z-index: 1;
          margin-top: -8px;
        }
      }
    }
  }
}

//------------------------------------
// ____ for pc screen only ____
//------------------------------------

@media only screen and (min-width: 900px) {
  .add-btn {
    position: fixed;
    top: 5px;
    right: 15px;
    .fa-plus-square {
      font-size: 45px;
    }
  }
  .content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;

    .show-container,
    .edit-container {
      margin-top: 100px;
      width: 260%;
      margin-left: -80%;
      display: flex;
      flex-direction: column;

      .fa-trash,
      .fa-edit,
      .fa-save {
        font-size: 50px;
      }
      .fa-edit,
      .fa-save {
        color: $icon;
      }
      .icons {
        display: flex;
        .fa-edit,
        .fa-save {
          margin-left: 80%;
          color: $icon;
        }
      }
    }
    .edit-container {
      .dropdown-menu-container {
        margin-top: 10px;
      }
    }

    .dropdown-menu-container {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
    .add-todo {
      margin-top: 100px;
      margin-bottom: -100px;
      display: flex;
      flex-direction: column;
      margin .dropdown-menu-container {
        margin-top: 100px;
      }
      .add-todo-container {
        display: flex;
        flex-direction: row;
      }
      .fa-check-circle {
        color: $icon;
        position: fixed;
        font-size: 100px;
        right: 30%;
        top: 100px;
      }
    }
    .settings {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
      margin-top: 100px;
    }

    .sort-and-search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 100px;
      .sort {
        display: flex;
        flex-direction: row;
        div {
          padding: 0px 3px 0px 3px;
        }
        .arrow {
          margin-top: 6px;
        }

        /* Dropdown Button */
        .dropbtn {
          background-color: $background;
          border-color: $text;
          color: $text;
          padding: 5px;
          font-size: 16px;
          border-radius: 5px;
          min-width: 120px;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;
        }
        .dropdown {
          margin-top: -5px;
        }
        .arrow {
          margin-top: 2px;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          /* Links inside the dropdown */
          button {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border: none;
            width: 100%;
          }
          /* Change color of dropdown links on hover */
          button:hover {
            background-color: #ddd;
          }
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
          background-color: grey;
          color: black;
        }
      }
      .search-bar {
        margin-top: -3px;

        input {
          width: 120px;
        }
        .search-button {
          display: flex;
        }
        .search-button button {
          padding-left: 6px;
          border: none;
          background: none;
          outline: none;
          .fa-search {
            color: $text;
          }
        }
      }
    }
    // display all todos in a column

    .todos {
      display: flex;
      flex-direction: column;
      //individual todo-info displayed in a row
      //padding-top: 100px;
      .title-done {
        color: $task-complete;
      }
      .todo-item {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        padding-top: 10px;
        justify-content: flex-start;
        .clickable-area {
          flex-grow: 2;
          .task {
            color: $text;
          }
          .task-done {
            color: $task-complete;
            text-decoration: line-through;
          }
        }

        .check-box {
          color: $icon;
          z-index: 1;
          margin-top: -8px;
        }
      }
    }
  }
}
